body {
    background-color: snow;
}

.spaced-table>thead>tr>th {
    padding: 20px;
}

.spaced-table>thead>tr>th>h1 {
    font-weight: bold;
}

.spaced-table>tbody>tr>td {
    padding: 8px 20px;
}

#content {
    padding: 50px 0px 0px 0px;
}

#facebook_login {
    padding: 40px 20px 0px;
    text-align: right;
}

#facebook_login>h1, #facebook_login>h2 {
    font-weight: bold;
    text-align: left;
}

#facebook_login>h4 {
    font-size: 20px;
    text-align: left;
}

#main_image {
    text-align: center;
}

#main_image>img {
    padding: 30px 0px 10px;
    width: 95%;
}

#myNavbar>ul>li {
    font-size: 20px;
}

#short_info {
    padding: 10px 15px 0px;
}

#short_info>h1 {
    font-weight: bold;
    padding: 0px 0px 10px;
}

#topImage {
    text-align: center;
    margin: 0px 0px 20px;
}

#topImage>img {
    -webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
    width: 90%;
}

#certificates {
    text-align: center;
}

#backcert1, #backcert2 {
    display: none;
}

.galleria {
    display: none;
}

#short_info>h2 {
    padding: 30px 0 0;
}

#short_info>p {
    font-size: 20px;
}

.square {
    background-color: gray;
    height: 180px;
    width: 180px;
    margin: 30px auto 50px;
    -webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
    text-align: center;
}

.square>p {
    font-weight: bold;
    font-size: 16px;
}

#img1 {
    margin: 15px 20px;
}

#img2, #img3, #img4, #img5, #img6 {
    margin: 34px 15px;
}

#img7, #img9, #img15 {
    margin: 40px 15px;
}

#img8 {
    margin: 37px 15px;
}

#img10 {
    margin: 29px 15px;
}

#img11 {
    margin: 26px 15px;
}

#img12 {
    margin: 36px 15px;
}

#img13 {
    margin: 15px;
}

#img14 {
    margin: 15px 34px;
}

#img16 {
    margin: 15px 60px;
}

#img17 {
    margin: 15px 48px;
}

#chat {
    background-color: #FF0000;
    border: thick solid #808080;
    padding: 20px;
    margin: 30px 20px 0px;
    font-size: 20px;
}

#message {
    width: 75%;
}

footer {
    padding: 15px 0px 0px;
}

footer>p {
    font-size: 17px;
}

#adjust {
    padding: 70px 0px 0px;
}

#Title {
    width: 90%;
}

#FeedbackContent {
    resize: none;
    height: 200px;
    width: 100%;
}

@media all and (min-width: 465px) {
    .square {
        display: inline-block;
        float: left;
        margin: 30px 20px;
    }
}

@media all and (min-width: 768px) {
    #myNavbar>ul>li {
        font-size: 18px;
    }

    #backcert1, #backcert2 {
        display: inline-block;
        margin: 0px 20px 20px;
        float: none;
    }

    #cert1 {
        margin: 34px 15px;
    }

    #cert2 {
        margin: 15px 34px;
    }

    #facebook_login {
        padding: 80px 20px 0px;
    }

    .galleria {
        display: block;
        margin: 20px auto 0;
        width: 700px;
        height: 250px;
    }

    #message {
        width: 85%;
    }
}

@media all and (min-width: 992px) {
    #facebook_login {
        padding: 40px 20px 0px;
    }

    #myNavbar>ul>li {
        padding: 10px 0px 10px 10px;
        font-size: 14px;
    }

    #main_image>img {
        width: 90%;
    }

    #topImage>img {
        width: 80%;
    }

    .galleria {
        width: 900px;
        height: 350px;
    }

    #message {
        width: 90%;
    }
}

@media all and (min-width: 1200px) {
    #myNavbar>ul>li {
        font-size: 20px;
    }
}