<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://rydesign.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>rydesign.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>rydesign</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$rydesign</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RYDesignContext" Order="1" Enabled="False">
          <Destination Path="Data Source=us-cdbr-azure-southcentral-e.cloudapp.net;Initial Catalog=RYDesignDatabase;User ID=b4dcaf66dea7b7;Password=31faefa9" Name="Database=RYDesignDatabase;Data Source=us-cdbr-azure-southcentral-e.cloudapp.net;User Id=b4dcaf66dea7b7;Password=31faefa9" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="RYDesign.Models.RYDesignContext, RYDesign" MigrationConfiguration="RYDesign.Models.RYDesignContext+MyConfiguration, RYDesign" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RYDesignContext-Web.config Connection String">
      <ParameterValue>Database=RYDesignDatabase;Data Source=us-cdbr-azure-southcentral-e.cloudapp.net;User Id=b4dcaf66dea7b7;Password=31faefa9</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>